.Contact {
    width: 100%;
    min-height: 22vh;
    background-color: rgb(238, 227, 211);
    
}



.Contact .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 35px;
}

.Contact .items {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 50px;
    padding-bottom: 45px;
}

.items .block {
    position: relative;
}

.message1 {
    
    position: absolute;
    transform: translateY(-110%);
    width: 28vh;
    height: 6vh;
    background-color: coral;
    display: none;
   
    
    
}

.message2 {
    position: absolute;
    transform: translateY(-110%);
    width: 19vh;
    height: 6vh;
    background-color: coral;
    display: none;
    
    
}

.message3 {
    position: absolute;
    transform: translateY(-110%);
    width: 19vh;
    height: 6vh;
    background-color: coral;
    display: none;
    
}

.message4 {
    position: absolute;
    transform: translate(-75%, -110%);
    width: 19vh;
    height: 6vh;
    background-color: coral;
    display: none;
    
}

.name {
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    padding-top: 15px;
 
 }
 