.Contact {
    width: 100%;
    min-height: 22vh;
    background-color: rgb(238, 227, 211);
}



.Contact .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 45px;
}

.Contact .items {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 50px;
    padding-bottom: 45px;
}
