.About {
    width: 100%;
    min-height: 50%;
    
}

.About .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}


.About p{
    font-size: 20px;
    font-weight: bold;
    padding: 35px;
    padding-bottom: 50px;
}